<div style="margin-left: 50px;">
	<notempty name="list">
	<div class="main-title cf">
   	 	<h2>追问详情</h2>
	</div>
	<volist name="list" id="vo">
		<div class="layui-form-item">
			<div class="layui-inline">
				<h3>追问{$i}</h3>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label" >追问者：</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" value="{$userinfo[$vo['reqid']]}" disabled="disabled"/>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label" >追问时间：</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" value="{$vo.create_time}" disabled="disabled"/>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label" >问题分类：</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" value="{$group[$vo['block']]}" disabled="disabled"/>
				</div>
			</div>
			<a href="{:U('Problem/changeStatus?method=p&id='.$vo['id'].'&hide='.($vo['hide']?'0':'1'))}" class="ajax-get">{$vo['hide']?'显示该追问':'隐藏该追问'}</a>
		</div>
		<div class="layui-form layui-form-pane" >
			<div class="layui-form-item">
			    <label class="layui-form-label">标题</label>
			    <div class="layui-input-block">
			      <input type="text" class="layui-input" value="{$vo.title}" disabled="disabled">
			    </div>
		  	</div>
		  	<!-- 图片 -->
		  	<div class="layui-form-item">
			  	<notempty name="vo['_img']">
				<volist name="vo['_img']" id="img">
					<img style="margin-right: 10px; max-height: 70px; max-width: 70px;" src="{$img['path']}"/>
				</volist>
				</notempty>
			</div>
			<!-- 语音 -->
			<notempty name="vo['_audio']">
				<volist name="vo['_audio']" id="audio">
					<audio src="{$audio['path']}" preload="none"></audio>
				</volist>
			</notempty>
		  	<div class="layui-form-item layui-form-text">
			    <label class="layui-form-label">问题详情</label>
			    <div class="layui-input-block">
			      <textarea class="layui-textarea" disabled="disabled">{$vo.content}</textarea>
			    </div>
		 	</div>
		</div>
		<!-- 问题回复 -->
		{:R('Problem/atree', array($vo["_a"]))}
	</volist>
	</notempty>
</div>