<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>问题分类</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('addgroup')}">新 增</a>
        </div>

    </div>
    <!-- 数据列表 -->
	<div class="tb-unit posr">
		<div class="category">
			<div class="hd cf">
				<div class="fold">折叠</div>
				<div class="order">ID</div>
				<div class="order" style="width: 200px;">标题</div>
				<div class="order">排序</div>
				<div class="order" style="position: absolute; right: 10px;">操作</div>
			</div>
			{:R('Problem/grouptree', array($tree))}
		</div>
	</div>
	<div class="page">
        {$page}
    </div>
</block>

<block name="script">
	<script type="text/javascript">
		(function($){
			/* 分类展开收起 */
			$(".category dd").prev().find(".fold i").addClass("icon-unfold")
				.click(function(){
					var self = $(this);
					if(self.hasClass("icon-unfold")){
						self.closest("dt").next().slideUp("fast", function(){
							self.removeClass("icon-unfold").addClass("icon-fold");
						});
					} else {
						self.closest("dt").next().slideDown("fast", function(){
							self.removeClass("icon-fold").addClass("icon-unfold");
						});
					}
				});

			/* 三级分类删除新增按钮 */
		    $(".category dd dd .add-sub-cate").remove();

		})(jQuery);
	</script>
</block>
