<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>会员详情</h2>
    </div>
    <form action="#" class="form-horizontal"> 
	<div style="width: 200px; height: 250px; position: absolute; left: 1100px; border: 1px solid #333;">
		<div class="controls">
			<div class="upload-img-box">
				<notempty name="info['photo']">
					<div class="upload-pre-item"><img style="max-height: 200px;max-width: 200px;" src="{$info['photo']}"/></div>
				</notempty>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 215px;">用户名（英文加数字6-10位）</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" 
					value="{$info.username}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 135px;">昵称（显示）</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input"  value="{$info.nickname}">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 215px;">姓名（5个字内）</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" value="{$info.name}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 135px;">性别</label>
			<div class="layui-input-inline"
				style="margin-top: 10px; width: 122px;">
				<div class="layui-input-inline" style="width: 50px;">
					<input type="radio"  name="gender" value="1">男
				</div>
				<div class="layui-input-inline" style="width: 50px;">
					<input type="radio"  name="gender" value="0">女
				</div>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 215px;">手机号</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" value="{$info.mobile}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 135px;">电话</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" value="{$info.telephone}">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 215px;">等级</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" value="{$info.mlevel}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 135px;">注册时间</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" value="{$info.last_login_time}"
					/>
			</div>
		</div>
		
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 215px;">积分</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" value="{$info.score}"
					/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 135px;">推荐码</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" value="{$info.code}"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 215px;">推荐人推荐码</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" value="{$info.pcode}"
					/>
			</div>
		</div>
	</div>
	<button class="btn btn-return"
			onclick="javascript:history.back(-1);return false;">返 回</button>
  </form> 
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
        Think.setValue("gender", {$info.gender|default=0});
    </script>
</block>
