<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增专家</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
    	<div class="layui-form-item">
	        <div class="layui-inline">
	            <label class="layui-form-label" style="width:215px;">用户名（登录账号英文加数字）</label>
	            <div class="layui-input-inline">
	                <input type="text" class="layui-input" name="username" value="">
	            </div>
	        </div>
	        <div class="layui-inline">
	            <label class="layui-form-label" style="width:135px;">昵称（显示）</label>
	            <div class="layui-input-inline">
	                <input type="text" class="layui-input" name="nickname" value="">
	            </div>
	        </div>
	        </div>
	        <div class="layui-form-item">
	        <div class="layui-inline">
	            <label class="layui-form-label"style="width:215px;">密码（用户密码不能少于6位）</label>
	            <div class="layui-input-inline">
	                <input type="password" class="layui-input" name="password" value="">
	            </div>
	        </div>
	        <div class="layui-inline">
	            <label class="layui-form-label" style="width:135px;">确认密码</label>
	            <div class="layui-input-inline">
	                <input type="password" class="layui-input" name="repassword" value="">
	            </div>
	        </div>
	        </div>
	        <div class="layui-form-item">
	        <div class="layui-inline">
	            <label class="layui-form-label"style="width:215px;">姓名（5个字内）</label>
	            <div class="layui-input-inline">
	                <input type="text" class="layui-input" name="name" value="">
	            </div>
	        </div>
	        <div class="layui-inline">
	            <label class="layui-form-label"style="width:135px;">性别</label>
	            <div class="layui-input-inline" style="margin-top: 10px;width:122px;">
		            <div class="layui-input-inline"style="width:50px;">
		                <input type="radio" checked="checked" name="sex" value="0">男
		            </div>
		            <div class="layui-input-inline"style="width:50px;">
		                <input type="radio" name="sex" value="1">女
		            </div>
		        </div>
	        </div>
	        </div>
	        <div class="layui-form-item">
	        <div class="layui-inline">
	            <label class="layui-form-label"style="width:215px;">手机号</label>
	            <div class="layui-input-inline">
	                <input type="text" class="layui-input" name="mobile" value="">
	            </div>
	        </div>
	        <div class="layui-inline">
	            <label class="layui-form-label"style="width:135px;">电话</label>
	            <div class="layui-input-inline">
	                <input type="text" class="layui-input" name="mobile" value="">
	            </div>
	        </div>
	        </div>
	        <div class="layui-form-item">
	        <div class="layui-inline">
	            <label class="layui-form-label"style="width:215px;">等级</label>
	            <div class="layui-input-inline">
	                <input type="text" class="layui-input" name="mlevel" value="">
	            </div>
	        </div>
	        <div class="layui-inline">
	            <label class="layui-form-label"style="width:135px;">专业</label>
	            <div class="layui-input-inline">
	                <input type="text" class="layui-input" name="specialty" value="">
	            </div>
	        </div>
	        </div>
	        <div class="layui-form-item">
		        <div class="layui-inline">
		            <label class="layui-form-label"style="width:215px;">擅长领域</label>
		            <div class="layui-input-inline">
		                <input type="text" class="layui-input" name="areas" value="">
		            </div>
		        </div>
		        <div class="layui-inline">
		            <label class="layui-form-label"style="width:135px;">积分</label>
		            <div class="layui-input-inline">
		                <input type="text" class="layui-input" name="areas" value="">
		            </div>
		        </div>
	        </div>
	        <div class="layui-form-item">
		        <div class="layui-inline">
		            <label class="layui-form-label"style="width:215px;">现工作地点</label>
		            <div class="layui-input-inline">
		                <input type="text" class="layui-input" name="areas" value="">
		            </div>
		        </div>
	
		        <div class="layui-inline">
	            <label class="layui-form-label"style="width:135px;">地区</label>
	            <div class="layui-input-inline">
	                <input type="text" class="layui-input" name="areas" value="">
	            </div>
	        	</div>
	    	</div>
	    	 <div class="layui-form-item">
		       <label class="layui-form-label"style="width:135px;">简历</label>
	    	</div>
	    	
	        <label class="textarea">
	            <textarea name="content">11</textarea>
	            {:hook('adminArticleEdit')}
            </label>
        <div class="form-item">
            <button class="btn submit-btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/expert')}');
    </script>
</block>
